@let _formField = formField(); @let _type = type(); @let _name = name(); @let
_label = label(); @let _disabled = disabled(); @let _items = items(); @let
_wClass = wClass(); @let _clearable = clearable(); @let _placeholder =
placeholder(); @let _error = fieldError(); @switch (_type) { @case ('text')
@case ('password') @case ('email') @case ('search') @case ('tel') @case ('url')
@case ('number') @case ('range') @case ('color') @case ('date') @case ('month')
@case ('week') @case ('time') @case ('datetime') @case ('datetime-local') {
<label class="winput">
	@if (_label) {
	<span class="winput__label" [translate]="_label"></span>
	}

	<div
		[class.winput__control--two-icons]="_clearable && _type === 'password'"
		class="winput__control"
	>
		@if (_formField) {
		<input
			[translate]="{ placeholder: _placeholder || 'Enter text...' }"
			[autocomplete]="getAutocompleteAttr(_type)"
			(keydown)="wKeydown.emit($event)"
			(focus)="wFocus.emit($event)"
			[manualDisabled]="_disabled"
			(blur)="wBlur.emit($event)"
			(keyup.enter)="onSubmit()"
			(input)="onInput($event)"
			[formField]="_formField"
			[class.error]="_error"
			[class]="['winput__field', _wClass]"
			[manualType]="
					_type === 'password'
						? (showPassword() ? 'text' : 'password')
						: _type || 'text'
				"
			#inputEl
		/>
		} @else {
		<input
			[translate]="{ placeholder: _placeholder || 'Enter text...' }"
			[autocomplete]="getAutocompleteAttr(_type)"
			[attr.disabled]="_disabled ? '' : null"
			(keydown)="wKeydown.emit($event)"
			(focus)="wFocus.emit($event)"
			(blur)="wBlur.emit($event)"
			(keyup.enter)="onSubmit()"
			(input)="onInput($event)"
			[value]="wModel() ?? ''"
			[class.error]="_error"
			[class]="['winput__field', _wClass]"
			[attr.name]="_name"
			[attr.type]="
					_type === 'password'
						? (showPassword() ? 'text' : 'password')
						: _type || 'text'
				"
			#inputEl
		/>
		} @if (_clearable) {
		<button
			type="button"
			class="winput__icon-btn winput__clear material-icons"
			(click)="onClear()"
			[translate]="{ ariaLabel: 'Clear' }"
		>
			close
		</button>
		} @if (_type === 'password') {
		<button
			type="button"
			class="winput__icon-btn winput__eye material-icons"
			(click)="showPassword.update((value) => !value)"
			[translate]="{
				ariaLabel: showPassword() ? 'Hide password' : 'Show password',
			}"
		>
			visibility
		</button>
		} @for (icon of icons(); track $index) {
		<material-icon
			(click)="icon.click?.()"
			[name]="icon.name || ''"
			[icon]="icon.icon"
		/>
		}
	</div>

	@if (_error) {
	<div class="winput__error" [translate]="_error"></div>
	}
</label>
} @case ('textarea') {
<label class="winput">
	@if (_label) {
	<span class="winput__label" [translate]="_label"></span>
	}

	<div class="winput__control">
		@if (_formField) {
		<textarea
			[translate]="{ placeholder: _placeholder || 'Enter text...' }"
			[class]="['winput__field', 'winput__field--textarea', _wClass]"
			(keydown)="wKeydown.emit($event)"
			(focus)="wFocus.emit($event)"
			[manualDisabled]="_disabled"
			(blur)="wBlur.emit($event)"
			(input)="onInput($event)"
			[class.error]="_error"
			[formField]="_formField"
			#inputEl
		></textarea>
		} @else {
		<textarea
			[translate]="{ placeholder: _placeholder || 'Enter text...' }"
			[class]="['winput__field', 'winput__field--textarea', _wClass]"
			[attr.disabled]="_disabled ? '' : null"
			(keydown)="wKeydown.emit($event)"
			(focus)="wFocus.emit($event)"
			(blur)="wBlur.emit($event)"
			(input)="onInput($event)"
			[value]="wModel() ?? ''"
			[class.error]="_error"
			[attr.name]="_name"
			#inputEl
		></textarea>
		}
	</div>

	@if (_error) {
	<div class="winput__error" [translate]="_error"></div>
	}
</label>
} @case ('radio') { @if (_formField) { @for (item of _items; track
$index) {
<label class="winput__choice" [class.disabled]="_disabled">
	<input
		(keydown)="wKeydown.emit($event)"
		(focus)="wFocus.emit($event)"
		[manualDisabled]="_disabled"
		(blur)="wBlur.emit($event)"
		(input)="onInput($event)"
		[formField]="_formField"
		[class]="['winput__native', _wClass]"
		[class.error]="_error"
		[value]="item"
		type="radio"
		#inputEl
	/>
	<span class="winput__choice-mark winput__choice-mark--radio"></span>
	<span class="winput__choice-text" [translate]="item"></span>
</label>
} } @else { @for (item of _items; track $index) {
<label class="winput__choice" [class.disabled]="_disabled">
	<input
		(keydown)="wKeydown.emit($event)"
		(input)="onInput($event, item)"
		[checked]="wModel() === item"
		(focus)="wFocus.emit($event)"
		(blur)="wBlur.emit($event)"
		[class]="['winput__native', _wClass]"
		[disabled]="_disabled"
		[class.error]="_error"
		[value]="item"
		[name]="_name"
		type="radio"
		#inputEl
	/>
	<span class="winput__choice-mark winput__choice-mark--radio"></span>
	<span class="winput__choice-text" [translate]="item"></span>
</label>
} } } @case ('checkbox') { @if (_items.length) { @for (item of _items;
track $index) {
<label class="winput__choice" [class.disabled]="_disabled">
	<input
		(keydown)="wKeydown.emit($event)"
		(input)="onInput($event, item)"
		[checked]="isItemChecked(item)"
		(focus)="wFocus.emit($event)"
		(blur)="wBlur.emit($event)"
		[name]="_name + $index"
		[class]="['winput__native', _wClass]"
		[disabled]="_disabled"
		[class.error]="_error"
		type="checkbox"
		[value]="item"
		#inputEl
	/>
	<span class="winput__choice-mark"></span>
	<span class="winput__choice-text" [translate]="item"></span>
</label>
} } @else {
<label class="winput__choice" [class.disabled]="_disabled">
	@if (_formField) {
	<input
		(keydown)="wKeydown.emit($event)"
		(focus)="wFocus.emit($event)"
		[manualDisabled]="_disabled"
		(blur)="wBlur.emit($event)"
		(input)="onInput($event)"
		[formField]="_formField"
		[class]="['winput__native', _wClass]"
		[class.error]="_error"
		type="checkbox"
		#inputEl
	/>
	} @else {
	<input
		(keydown)="wKeydown.emit($event)"
		(focus)="wFocus.emit($event)"
		(blur)="wBlur.emit($event)"
		(input)="onInput($event)"
		[disabled]="_disabled"
		[class.error]="_error"
		[class]="['winput__native', _wClass]"
		[checked]="!!wModel()"
		type="checkbox"
		[name]="_name"
		#inputEl
	/>
	}

	<span class="winput__choice-mark"></span>

	@if (_label) {
	<span class="winput__choice-text" [translate]="_label"></span>
	}
</label>
} } @default never; }
