@let _expanded = expanded();

<div class="waccordion-panel" [class._expanded]="_expanded">
	<button
		type="button"
		class="waccordion-panel__header"
		[id]="headerId"
		[attr.aria-controls]="bodyId"
		[class._disabled]="disabled()"
		[attr.aria-expanded]="_expanded ? 'true' : 'false'"
		[disabled]="disabled()"
		(click)="toggle()"
	>
		<span class="waccordion-panel__title" [translate]="header()"></span>
		<span
			class="waccordion-panel__icon material-icons"
			aria-hidden="true"
			>expand_more</span
		>
	</button>

	@if (_expanded) {
	<div
		class="waccordion-panel__body"
		role="region"
		[id]="bodyId"
		[attr.aria-labelledby]="headerId"
	>
		<ng-content></ng-content>
	</div>
	}
</div>
