@if (text) {
<div
	class="walert-wrap"
	[class.walert-wrap--removing]="delete_animation"
>
	<div
		#alertRef
		class="walert"
		[class.walert--info]="type === 'info'"
		[class.walert--success]="type === 'success'"
		[class.walert--warning]="type === 'warning'"
		[class.walert--error]="type === 'error'"
		[class.walert--question]="type === 'question'"
	>
		@if (progress) {
		<div class="walert__progress">
			<span
				class="walert__progress-bar"
				[style.animation-duration.s]="(timeout + 350) / 1000"
			></span>
		</div>
		}

		<div class="walert__body">
			<div class="walert__content">
				<div class="walert__message">
					@if (icon) {
					<span class="material-icons" aria-hidden="true">{{ icon }}</span>
					}
					<span class="walert__text">{{ text }}</span>
				</div>

				@if (type === 'question') {
				<div class="walert__actions">
					@for (button of buttons; track button.text) {
					<button
						wbutton
						[disableSubmit]="true"
						class="walert__btn"
						(wClick)="remove(button.callback)"
					>
						{{ button.text }}
					</button>
					}
				</div>
				}
			</div>

			@if (closable) {
			<button
				wbutton
				[disableSubmit]="true"
				class="walert__close material-icons"
				(wClick)="remove()"
				aria-label="Close alert"
			>
				close
			</button>
			}
		</div>
	</div>
</div>
}
