:host {
	display: inline-flex;
}

.wchip {
	display: inline-flex;
	align-items: center;
	gap: var(--sp-2);

	background: var(--c-bg-tertiary);
	color: var(--c-text-primary);
	border-radius: var(--radius-pill);
	font-family: var(--ff-base);
	font-size: 0.875rem;
	line-height: 1;

	padding: var(--sp-2) var(--sp-4);
}

.wchip__image {
	width: 1.5rem;
	height: 1.5rem;
	margin-inline-start: calc(-1 * var(--sp-2));
	border-radius: var(--radius-pill);
	object-fit: cover;
}

.wchip__icon.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	line-height: 1;
}

.wchip__remove {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 1.5rem;
	min-height: 1.5rem;
	margin: calc(-1 * var(--sp-1));
	cursor: pointer;
	background: transparent;
	border: 0;
	border-radius: var(--radius-pill);
	padding: 0;
	color: inherit;

	&:focus-visible {
		outline: 2px solid var(--c-primary);
		outline-offset: 1px;
	}
}

.wchip__remove.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 0.875rem;
	line-height: 1;
}
