<div
	class="burger"
	[class.burger--cross]="_classes()['burger--cross']"
	[class.burger--one]="_classes()['burger--one']"
	[class.burger--two]="_classes()['burger--two']"
	[class.burger--three]="_classes()['burger--three']"
	(mouseenter)="onHover(true)"
	(mouseleave)="onHover(false)"
>
	<button
		[translate]="{ ariaLabel: resolvedAriaLabel() }"
		[attr.aria-expanded]="expanded()"
		[attr.aria-controls]="controls() || null"
		class="burger__btn"
		(click)="toggle()"
		type="button"
	>
		<span class="burger__bar"></span>
	</button>
</div>
