<div class="wconfirm">
	@if (icon) {
	<span class="wconfirm__icon material-icons" aria-hidden="true">{{
		icon
	}}</span>
	}

	<div class="wconfirm__body">
		@if (header) {
		<div class="wconfirm__header">{{ header }}</div>
		}
		<div class="wconfirm__message">{{ message }}</div>
	</div>

	<div class="wconfirm__actions">
		<button
			wbutton
			[type]="rejectType"
			[disableSubmit]="true"
			(wClick)="onReject()"
		>
			{{ rejectLabel }}
		</button>
		<button
			wbutton
			[type]="acceptType"
			[disableSubmit]="true"
			(wClick)="onAccept()"
		>
			{{ acceptLabel }}
		</button>
	</div>
</div>
