@let _show = showOptions(); @let _ph = placeholder(); @let _label = label();
@let _isMulti = isMulti(); @let _ids = selectedIds(); @let _id = selectedId();
@let _searchable = searchable(); @let _all = filteredItems();

<div
	(clickOutside)="toggleOptions(false)"
	class="wselect"
	(keydown)="onKeydown($event)"
>
	@if (_label) {
	<div
		class="wselect__label"
		[translate]="_label"
	></div>
	}

	<div
		class="wselect__body"
		[class._active]="_show"
		role="combobox"
		[attr.aria-expanded]="_show ? 'true' : 'false'"
		tabindex="0"
	>
		<!-- header (click target) -->
		<div
			class="wselect__header"
			[class._disabled]="isDisabled()"
			(click)="toggleOptions()"
		>
			<span class="wselect__icon-expand material-icons">unfold_more</span>

			<ng-container [ngTemplateOutlet]="viewTpl() || defaultView"></ng-container>

			<ng-template #defaultView>
				<div class="wselect__text">
					@if (_isMulti) {
					<div class="wselect__value">
						@if (!_ids.length) {
						<span class="wselect__placeholder" [translate]="_ph"></span>
						}
						@for (sid of _ids; track sid; let i = $index) {
							@if (allItem[sid]) {
							<span class="wselect__chip">
								@if (i) { <span>,&nbsp;</span> }
								<span class="wselect__chip-inner">
									<span [translate]="allItem[sid]"></span>
									<button
										type="button"
										class="wselect__chip-remove material-icons"
										(click)="removeItem(i); $event.stopPropagation()"
										aria-label="Remove"
									>close</button>
								</span>
							</span>
							}
						}
					</div>
					} @else {
					<div class="wselect__value">
						@if (_id) {
						<span [translate]="allItem[_id]"></span>
						} @else {
						<span class="wselect__placeholder" [translate]="_ph"></span>
						}
					</div>
					}
				</div>
			</ng-template>
		</div>

		<!-- clear -->
		@if (clearable() && (_isMulti ? _ids.length : _id)) {
		<button
			type="button"
			class="wselect__icon-btn material-icons"
			(click)="clear(); $event.stopPropagation()"
			aria-label="Clear"
		>close</button>
		}

		<!-- dropdown caret -->
		<button
			type="button"
			class="wselect__icon-btn material-icons"
			[class._disabled]="isDisabled()"
			[class._active]="_show"
			(click)="toggleOptions(); $event.stopPropagation()"
			aria-label="Toggle options"
		>expand_more</button>

		<!-- extra buttons -->
		@for (button of buttons() || []; track button.icon || button.text) {
			@if (button.icon) {
			<button
				type="button"
				class="wselect__icon-btn material-icons"
				(click)="button.click(); $event.stopPropagation()"
				[class._disabled-btn]="button.disabled"
				aria-label="Action"
			>{{ button.icon }}</button>
			} @else if (button.text) {
			<button
				type="button"
				class="wselect__icon-text"
				(click)="button.click(); $event.stopPropagation()"
				[class._disabled-btn]="button.disabled"
			>{{ button.text }}</button>
			}
		}

		<!-- dropdown popup -->
		@if (_show) {
		<div
			class="wselect__popup"
			(click)="$event.stopPropagation()"
			role="listbox"
			[attr.aria-multiselectable]="_isMulti ? 'true' : null"
		>
			@if (_searchable) {
			<div class="wselect__search">
				<ng-container [ngTemplateOutlet]="searchTpl() || defaultSearch"></ng-container>
				<ng-template #defaultSearch>
					<winput
						[placeholder]="'Enter search text...'"
						(wChange)="search.set(($event ?? '') + '')"
						[focused]="true"
					/>
				</ng-template>
			</div>
			}

			<div #popupListEl class="wselect__list">
				@for (item of _all; track item().id; let i = $index) {
				<ng-container
					[ngTemplateOutlet]="itemTpl() || defaultItem"
					[ngTemplateOutletContext]="{ item: item, index: i }"
				/>
				}
				@if (!_all?.length) {
				<div class="wselect__empty" translate>Nothing was found</div>
				}
			</div>

			<!-- default item template -->
			<ng-template #defaultItem let-item="item" let-index="index">
				@let id = item().id;
				@let isSelected = _isMulti ? _ids.includes(id) : (_id === id);
				@let isActive = activeIndex() === index;

				<button
					type="button"
					class="wselect__item"
					[class._selected]="isSelected"
					[class._active]="isActive"
					(click)="selectOption(item())"
					role="option"
					[attr.aria-selected]="isSelected ? 'true' : 'false'"
					[attr.data-index]="index"
				>
					<span class="wselect__item-icon material-icons">{{ isSelected ? 'check' : '' }}</span>
					<div class="wselect__item-label">
						<div class="wselect__item-text">
							@if (item()[bindLabel()]) {
							<span [translate]="item()[bindLabel()]"></span>
							} @else {
							<span translate>Unknown item</span>
							}
						</div>
					</div>
				</button>
			</ng-template>
		</div>
		}
	</div>
</div>
