<div
	class="wawjs-modal"
	(click)="onBackdropClick()"
>
	<div
		#content
		[class]="contentClasses"
		[attr.role]="role"
		[attr.aria-modal]="true"
		[attr.aria-label]="ariaLabel || null"
		[attr.aria-labelledby]="ariaLabelledBy || null"
		[attr.aria-describedby]="ariaDescribedBy || null"
		tabindex="-1"
		(click)="$event.stopPropagation()"
	>
		<div class="wawjs-modal__body">
			<!-- content host -->
		</div>

		@if (closable) {
		<button
			wbutton
			[disableSubmit]="true"
			class="wawjs-modal__close"
			(wClick)="close()"
			aria-label="Close"
		>
			<plus-icon
				class="wawjs-modal__close-icon"
				[size]="20"
				[rotate]="45"
				[strokeWidth]="2.5"
			/>
		</button>
		}
	</div>
</div>
